*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*utility*/
.flex-class{
  display: flex;

}
ul{
  list-style: none;
}



/*header*/

  div.fixed-menu.flex-class{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  list-style: none;
  box-shadow: 0px 2px 20px #b6b6b6;
  justify-content:space-between;
  align-items: center;
  position: fixed;  
  z-index: 5;
}

  .top-options.flex-class{ 
    align-items: center;
  }
.fixed-menu ul li{
  padding: 0px 15px;
  cursor: pointer;
}
.fixed-menu ul li:hover{
  text-decoration: underline;
  border-bottom-style: solid;
}
.start-bottom{
  background-color: blue;
  color: white;
  margin-right: 20px;
  border-radius: 5%
}

/*JUMBOTRON*/


container.jumbotron{
  padding-top: 50px;
  width: 2000px;
  height: 1400px;
}
.jumbo{
    background-color: rgb(158, 214, 255);
    position: relatve;
    height: 550px;
    padding-top: 100px;
}

#title-jumbotron{
  display: flex;
  justify-content: flex-start;
  padding: 0px 130px;
  font-size: 55px;
}

.text-jumbo{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px ;
  margin-left: 130px;
}
.test{
  padding-left: 130px;
  margin-top: -20px;
}
.jumbo img{
  width: calc(100% / 2);
  padding-top: px;
  padding-right: 80px;
  padding-bottom: 60pxpx;
  position: absolute;
  right: 0;
  bottom: 23vh;
}
.free-test-ROW.first{
  text-align: left; 
  margin-left: 0px;
}
.arrow{
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  padding-left: 130px;
  margin-top: 20px;
}
/*fine JUMBO*/



/*MAIN*/
/*MAIN*/
/*MAIN*/


/*testo prima colonne */

.choose-plan{
  background-color: #ffffff;
  width: 1020px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-left: 190px;
  padding-bottom: 20px;
  padding-top: 30px;
  
}

#dropbox-plane{
  margin-top: 50px;
  margin-bottom: 30px;
}

.option-plan{
  display: flex;
}
.option-plan li{
  padding: 5px; 
}
.option-plan:hover{
  cursor: pointer;
}
.option-plan li:hover{
  text-decoration: underline;
}




/* zona 3 colonne */


/*  PRIMA colonna */


.column-container{
  background-color: rgb(255, 255, 255);
}
.column-container h2{
  height: 40px;
  font-size: xx-large; 
}


.all-column{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-column{
  background-color: rgb(255, 255, 255);
  width: 300px;
  min-height: 1000px;
  margin: 0 30px;
  border: lightgray;
  border-style: solid;
}
.box-head{
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.box-body{
  text-align: start;
  padding-top: 30px;
  padding-left: 15px;
}
.box-column h3{
  margin-bottom: 15px;
}
.span-column{
  padding-bottom: 15px;
}
.box-body ul li{
  padding-bottom: 30px;
  
}

.free-test{
  background-color: #0040ff;
  color: white;
  padding: 5px 25px;
  margin: 30px 25px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}
.free-test:hover{
  cursor: pointer;
  text-decoration: underline;
}
span:nth-child(2){
  color: grey;
}
span strong{
  display: block;
}

/*   FOOOOTER COLUMN    */
.box-footer{
  padding: 30px;
}
.box-footer hr{
margin-top: 30px;
margin-bottom: 30px;
width: 60px;
}

nav ul li{
padding-top: 30px;
font-size: smaller;
}
nav ul li i{
  color: rgb(27, 27, 255);
}
#buy{
  color: blue;
}
#buy:hover{
  text-decoration: underline;
  cursor: pointer;
}

/*
RIGA
*/


.big-row{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#box-row{
  height: 200px;
  width: 1020px;
  border: lightgray;
  border-style: solid;
}
br{
  color: lightgray;
}
.box-row-head{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 15px ;
}

.box-row-body{
  text-align: start;
}
.options-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.left-options{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.free-test-ROW{
  background-color: #0040ff;
  color: white;
  padding: 5px 25px;
  margin: 30px 25px;
  border-radius: 5%;
}
.free-test-ROW:hover{
  cursor: pointer;
  text-decoration: underline;
}

/*FINE ROW*/
/*FINE ROW*/
/*FINE ROW*/



/*
DOPO ROW
*/
.AFTER-ROW{
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 20px;
  display: flex;
}
.AFTER-ROW img{
  width: 50%;
  padding-left: 190px;
}
.partner-text{
  background-color: #ffffff;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 190px;
}
.partner-text h3{
  padding-bottom: 30px;
  font-size: x-large;
  padding: 0 30px;
}
.partner-text p{
  padding: 30px 30px;
}
.partner-text div{
  margin-left: 30px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  padding: 10px;
}
.partner-text div:hover{
  color: #0040ff;
  cursor: pointer;
}
.partner-text div:active{
  background-color: rgb(0, 42, 255);
  color: white;
}


/*  FUNZIONI   */

.container-functions{
  background-color: rgb(255, 255, 255);
  width: 1020px;
  height: 800px;
  margin: 65px 205px;
}
.wrap-class{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.container-functions h2{
  font-size: xx-large;
}
.function{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.function img{
  width: 70%;
  display: flex;
  align-self:center ;
}
.function div,Span{
  text-align: start;
  padding-left: 50px;
  margin-bottom: 20px;
}



/*footer*/







/**/